<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div>
        <div class="header">
            <span>全国服务热线：<a href="index.html">028-1824582</a></span>
            <a class="login_register" href="index.html">登录</a>
            <a class="login_register" href="index.html">注册</a>
        </div>
        <div class="nav">
            <img src="/images/logo.png"/>
            <ul>
                <li>
                    <a href="index.html">关于我们</a>
                    <ul>
                        <li><a href="index.html">公司简介</a></li>
                        <li><a href="index.html">发展里程</a></li>
                    </ul>
                </li>
                <li>
                    <a href="index.html">成功案例</a>
                    <ul>
                        <li><a href="index.html">百度百科</a></li>
                        <li><a href="index.html">腾讯科技</a></li>
                        <li><a href="index.html">阿里巴巴</a></li>
                    </ul>
                </li>
                <li>
                    <a href="index.html">技术支持</a>
                    <ul>
                        <li><a href="index.html">软件下载</a></li>
                        <li><a href="index.html">文档中心</a></li>
                    </ul>
                </li>
                <li>
                    <a href="index.html">产品和服务</a>
                    <ul>
                        <li><a href="index.html">企业网站</a></li>
                        <li><a href="index.html">电商网站</a></li>
                        <li><a href="index.html">社交网站</a></li>
                        <li><a href="index.html">公众开发</a></li>
                    </ul>
                </li>
                <li><a href="index.html">首页</a></li>
            </ul>
        </div>
    </div>
</body>
</html>